{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>
    <main class="container">
        <h1 class="mt-2">Présentation des produits</h1>
        <section class="row">
            {% for product in products %}
                <div class="col-4">
                    <div class="card">
                        <img src="/img/uploads/{{ product.imageName }}" class="card-img-top"
                             alt="Image de {{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">publié par {{ product.publisher.email}}</p>

                            <a href="{{ path('produits', {slug:product.slug}) }}" class="card-link btn btn-outline-info">Détail</a>
                            {% if product.publisher== app.user or is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('app_product_edit', {slug:product.slug}) }}" class="card-link btn btn-outline-warning">Modifier</a>
                            {% endif %}
                                {% if is_granted("ROLE_ADMIN") %}
                                {{ include('produit/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}