{% extends 'base.html.twig' %}


{% block body %}
    <h1>Details du produit</h1>
    <main class="container">

        <section class="row">

                <div class="col-4">
                    <div class="card">
                        <img src="/img/uploads/{{ product.imageName }}" class="card-img-top"
                             alt="Image de {{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <a href="{{ path('app_produit_liste')}}" class="card-link btn btn-outline-info">Retour à la liste</a>
                        </div>
                    </div>
                </div>

        </section>
    </main>
{% endblock %}

